<%= link_to product_path(product) do %>
  <div class="products span2">
    <p><%= image_tag product.thumbnail_path %></p>
    <h5><%= product.title.titleize %>&nbsp;(<%= product.product_order_items_count %>)</h5>
    <% if product.on_sale? %>
      <p id="onsale"><b><%= t('product.onsale') %></b></p>
      <p id="saleprice"><%= t('product.saleprice') %>: <%= number_to_currency(product.sale_price) %></p>
    <% else %>
      <p><%= t('product.price') %>: <%= number_to_currency(product.price) %></p>
    <% end %>
  </div>
<% end %>



